.navbar {
    z-index: 2;
    color: #fff;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    width: 100%;
    border-bottom: 1px solid rgba(168, 168, 168, 0.42);
}

.navbar a {
    color: black;
    text-decoration: none;
    padding: 15px 30px;
    transition: all .2s ease;
    font-size: 20px;
    &:hover {
        background-color: black;
        color: white;
    }
}

.navbar .logo {
    font-size: 1.5em;
    font-weight: bold;
}

.navbar .menu {
    display: flex;
    gap: 15px;
}

.navbar .menu-item {
    display: block;
}