.singleShop {
    padding: 20px 50px;

    .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;

        h1 {
            margin: 20px 0 30px 0;
        }
    }
    img {
        width: 40px;
        cursor: pointer;
        &:hover {
            opacity: .5;
        }
    }
}

form {
    margin: auto;
    padding: 1em;
    transition: all .1s ease-in-out;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}

.MuiInputBase-root {
    background-color: rgb(255, 255, 255) !important;
}

div {
    margin-bottom: 1em;
}

label {
    margin-bottom: .5em;
    color: #333333;
    display: block;
}

.radio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    img {
        width: 60px;
        border-radius: 3px;
        margin-right: 10px;
        cursor: pointer;
        padding: 10px;
        &:hover {
            background-color: rgba(79, 79, 111, 0.31);
        }
    }

    .click {
        border: 2px dashed black;
    }
}

input {
    border: 1px solid #CCCCCC;
    padding: .5em;
    font-size: 1em;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

.customButton {
    padding: 15px 20px;
    border: #6f42c1 2px solid;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    color: #ffffff;
    background-color: #6f42c1;
    font-size: 1.1em;
    transition: all .1s ease-in-out;
}

.customButton:hover {
    color: #6f42c1;
    background-color: rgb(255, 255, 255);
}

table {
    border-collapse: collapse;
    border: 3px solid #1a1e21;
}

td {
    width: 40px;
    height: 40px;
    text-align: center;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: white;
}

.cell:hover:before {
    content: "";
    background: rgba(108, 113, 120, 0.35);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.VIDE {
    background-color: #ffffff;
}

.PLEIN {
    background-color: #808080;
}

.BEACON::after {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    background-color: #000000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.chemin {
    background-color: yellow;
}

.listDrawType {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.listDrawType div {
    margin: 0 10px;
    padding: 10px;
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
}

.container {
    margin: 10px;
    padding: 0 10px 10px 10px;
    border: 1px dashed black;
    border-radius: 10px;
}

.pointA {
    background-color: RED;
}

.pointB {
    background-color: green;
}

.type {
    cursor: pointer;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    transition: all .2s ease;
    width: 200px;
    color: #1e1d29;
    border-radius: 10px;
}

.type input {
    width: 20px;
}

.type:hover {
    background-color: rgba(128, 128, 128, 0.31);
}

.shop_container {
    display: flex;
    justify-content: space-around;

    p {
        margin-bottom: 20px;
        font-style: italic;
        color: #1e1d29;
    }

    h1 {
        margin: 20px 0;
    }

    >div {
        border: 1px solid rgba(17, 17, 17, 0.18);
        width: 50%;
        background-color: white;
        margin: 10px;
        color: #1e1d29;
        padding: 10px 30px;
        border-radius: 2px;
        transition: all .2s ease-in-out;

        &:hover {
            border: 1px solid rgba(17, 17, 17);
        }
    }
}

.plan {
    bottom: 10px;
    right: 10px;
    margin-bottom: 100px;
    background-color: rgba(0, 0, 0, 0.3);
}

.configPlan {
    display: flex;
    justify-content: start;
    align-items: start;
    color: #1e1d29;
    overflow-x: scroll;
    margin-bottom: 50px;

    h3 {
        margin-bottom: 10px;
    }
    >div {
        width: 350px;
        height: 260px;
        padding: 10px;
        border: 1px solid rgba(17, 17, 17, 0.18);
        margin-right: 10px;
        border-radius: 3px;
        transition: all .2s ease-in-out;
        background-color: white;

        &:hover {
            border: 1px solid rgba(17, 17, 17);
        }
    }
}

.error {
    background-color: #d73434;
    div {
        color: #d73434;
    }
}

.success {
    background-color: #27b60e;
    div {
        color: #27b60e;
    }
}

.info {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-weight: bolder;
    margin-right: 10px;
    border-radius: 3px;
    div {
        margin: 0;
        background-color: white;
        border-radius: 50%;
        padding: 10px;
        width: 30px;
        height: 30px;
        display: flex;
        transition: all .2s ease-in-out;
        justify-content: center;
        align-items: center;
        cursor: pointer;


    }
}

.single_shop {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    >div {
        width: 100%;
    }
}

.topContent {
    margin-top: 35px;
    margin-left: 15px;
    display: flex;
    justify-content: start;
    flex-direction: row;
    align-items: start;

    h2 {
        margin-bottom: 20px;
    }
    > div {
        display: flex;
        justify-content: start;
        align-items: start;
        flex-direction: column;
        padding: 10px;
        border: 1px solid rgba(17, 17, 17, 0.18);
        margin: 0 10px;
        border-radius: 3px;
        transition: all .2s ease-in-out;
        background: #fff;
        color: #1e1d29;
        width: 350px;
        height: 150px;

        &:hover {
            border: 1px solid rgba(17, 17, 17);
        }
    }


}